.container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #cecece;
    margin-top: 100px;
    box-shadow: 3px 3px 3px #cecece;
}

.container__checkoutNavigation {
    position: relative;
    display: flex;
    border-bottom: 1px solid #cecece;
}

.container__status {
    display: flex;
    margin-left: 5%;
}

.container__item {
    color: #3d3d3d;
    padding: 10px;
    display: block;
}

.container__item--active {
    font-weight: bold;
}

.container__item--seperated::after {
    content: ' /';
    padding: 0px 0px 0px 10px;
}


.container__Button--right {
    position: absolute;
    right: 0px;
    margin: 10px;
}

.container__blocks {
    display: flex;
}

.container__paymentblock {
    width: 60%;
}

.container__cartblock {
    background: #dbdbdb;
    width: 40%;
}
